*   {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;


}
body {
    background: linear-gradient(220deg, #000000, #434343, #232526, #414345,#414345);
    background-size: 300% 300%;
    animation: move-bg 13s linear infinite;
    width: 100%;
    height: 150vh;
}

@keyframes move-bg {
    0% {
        background-position: 0%, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
}
.footer_menu p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}
.title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
    color: white;
}
.list_menu {
    margin-bottom: 50px;
}
.list_menu a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    padding-left: 5px;
    transition: all 0.2s ease;
}
.list_menu a:hover {
    padding-left: 10px;
    transition: all 0.2s ease;
}
.list_menu li {
    margin: 20px 0;
}
.menu {
    padding: 5vh 27px;
    position: fixed;
    top: 0.1px;
    bottom: 1px;
    background: rgba(20, 25, 25, 0.8);
    backdrop-filter: blur(16px);
    border-right: 7px solid rgba(93, 99, 110, 0.993);
    left: -347px;
    transition: all 0.2s ease;
    letter-spacing: 1px;
    line-height: 50px;
}
.img-menu img{
    width: 120px;
    height: auto;
    margin-bottom: 120px;
    margin-top: 50px;
    margin-right: 10px;
}
.footer_menu p {
    text-align: center;
    margin-top: 155px;
}
.menu:hover {
    left: 0;
    transition: all 0.2s ease;
}
.head .img-head img{
    width: 320px;
    margin-top: 50px;
}

.head h3 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 45px;
}
.container-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: white;
    margin-top: 100px;
    letter-spacing: 2px;
}
.text {
    border: 1px solid white;
    padding: 43px;
    margin-left: 480px;
    margin-right: 440px;
    font-size: 24px;
    text-align: center;
}
.container .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.container .img-container .img {
    width: 400px;
    height: auto;
    border: 3px solid white;
    overflow: hidden;
    margin-top: 150px;
    margin-right: 30px;
}
.container .img-container .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    
}